.card {
    background:  #0ecece;
    width: 300px;
    height: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    border-radius: 1em;
    padding: 1em;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.1);
    transform: none;
    transition: all 0.2s linear;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.card__description {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.card__avatar {
    max-width: calc(100% - 1em);
}